/node_modules
/public/hot
/public/storage
/public/vendor/response
/config/response.php
/storage/*.key
/storage/*.json
/modules
/themes
/datasets
/vendor
.DS_Store
.env
.env.backup
.idea
.installed
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
